html, body {
    --icon-width: 40px;

    background-color: #2C2C2C;
    margin: 0 auto;
    height: 100vh;
}

#root {
    margin: 0 auto;
    text-align: center;
}

input[type=color] {
    width: var(--icon-width);
    height: var(--icon-width);
}