.editMenu {
    display: flex;
    flex-direction: row;
}

.editMenuTop, .editMenuBottom {
    display: flex;
}

#editMenuColor {
    height: 25px;
    width: 50px;
    border-radius: 10px 1px 1px 10px;
    border: none;
    margin-right: 5px;
}

#editMenuName {
    border-radius: 1px 10px 10px 1px;
    border: none;
    width: 100px;
}